* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  font-family: 'Inter', sans-serif;
  --GRAY_200: #e9e9e9;
  --GRAY_300: #ededed;
  --GRAY_400: #9d9d9d;
  --GRAY_500: #6d6d6d;
  --GRAY_100: #f4f6f8;
  --RED_100: #fb6c6c;
  --GREEN_100: #41d158;
  --GREEN_200: #0bac9b;
  --PURPLE: #7600d2;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

body {
  background-color: var(--GRAY_100);
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
}

a {
  text-decoration: none;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container--hide {
  display: none;
}

header {
  width: 100%;
  min-height: 9.2rem;
  margin-bottom: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.25);
}

header button {
  display: none;
  color: var(--PURPLE);
}

.menu__btn__hamburger {
  display: flex;
  color: var(--GREEN_200);
  position: absolute;
  left: 4rem;
}

.logo {
  margin-top: 4rem;
  width: 100%;
  display: flex;
  position: absolute;
  justify-content: center;
}

.logo img {
  height: 3.6rem;
}

main {
  padding: 0 4.5rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

article {
  text-align: center;
  background-color: #fff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
}

section .cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2.4rem;
}

.animation__dropDown__content {
  animation-name: cardDropDown;
  animation-duration: 1s;
  transition: ease-out;
}

main h1 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: var(--PURPLE);
  margin-bottom: 4rem;
}

article h2 {
  font-size: 20px;
  line-height: 24px;
}

main section > h2 {
  font-size: 16px;
  line-height: 19px;
  color: var(--PURPLE);
  margin-bottom: 2.4rem;
}

main section .cards article {
  padding: 1.2rem 2.4rem 2.7rem;
}

.incomes {
  color: var(--GREEN_100);
}

.expenses {
  color: var(--RED_100);
}

.balance {
  color: var(--PURPLE);
}

.value--hide {
  display: none;
}

.value--hidden {
  user-select: none;
  background-color: var(--GRAY_300);
  border-radius: 50px;
  height: 10px;
  width: 60%;
}

main section .cards article div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 3.9rem;
  align-items: center;
  margin-top: 1.7rem;
}

.graph {
  max-height: 100%;
  padding: 1.6rem 0.8rem;
  display: flex;
  flex-direction: column;
}
.graph select {
  border: none;
  background-color: var(--GRAY_300);
  color: var(--PURPLE);
  text-transform: uppercase;
  border-radius: 0.5rem;
  padding: 0.4rem;
  align-self: flex-end;
}

section img {
  margin: 0 auto;
}

.transactions article {
  display: grid;
  grid-template-areas:
    'img data'
    'info info';
  margin-bottom: 1.7rem;
  padding: 1rem 2rem;
}

.transactions div.img {
  grid-area: img;
  flex-direction: row;
  text-align: left;
  gap: 4.6rem;
}

.transactions svg {
  width: 4rem;
}

.transactions svg:nth-child(2) {
  display: none;
}

.transactions article div.info {
  grid-area: info;
  text-align: left;
  flex: 1;
}

.info h3 {
  margin-top: 0.5rem;
  margin-bottom: 0.8rem;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: var(--GRAY_500);
}

.info p {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: var(--GRAY_500);
}

.date-value {
  grid-area: data;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: var(--GRAY_500);
  text-align: end;
  display: flex;
  flex-direction: column-reverse;
  gap: 1rem;
}

footer {
  height: 5rem;
  background: #ffffff;
  box-shadow: 2px -2px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  font-size: 1.2rem;
  color: var(--GRAY_400);
  padding-top: 2.1rem;
  padding-bottom: 1.5rem;
}

.aside--start {
  position: absolute;
  transform: translate(-110%, 0);
}

aside {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  flex: 1;
  background-color: var(--GRAY_200);
  display: flex;
  flex-direction: column;
  box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.25);
  transform-origin: 0% 0%;
  transform: translate(100%, 100);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.aside__header {
  min-height: 9.2rem;
  background-color: transparent;
  box-shadow: none;
}

.menu__nav_btn {
  width: 100%;
  cursor: pointer;
  background-color: transparent;
  border: solid 3px none;
  color: var(--GRAY_400);
  display: flex;
  padding: 8px;
  padding-left: 3.6rem;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
  border-left: 3px solid transparent;
  font-weight: 600;
  font-size: 14px;
}

.menu__nav_btn:hover,
.menu__nav_btn--active {
  border-left: 3px solid var(--GREEN_200);
  backdrop-filter: brightness(0.9);
}

.menu__nav_btn:hover svg,
.menu__nav_btn--active svg,
.menu__nav_btn--active {
  color: var(--GREEN_200);
}

aside nav {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 0.8rem;
}

aside svg {
  color: var(--GRAY_400);
}

aside svg:hover {
  color: var(--GREEN_200);
}

aside div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 1.7rem 1.5rem;
}

aside div svg {
  width: 2.4rem;
}

.nav__hamburger__btn {
  display: block;
  position: absolute;
  top: 4rem;
  left: 4rem;
  z-index: 1;
}

.nav__hamburger__btn input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

.nav__hamburger__btn span {
  display: block;
  width: 3rem;
  height: 4px;
  margin-bottom: 2px;
  position: relative;

  background: var(--GREEN_200);
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

.nav__hamburger__btn span:first-child {
  transform-origin: 0% 0%;
}

.nav__hamburger__btn span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

.nav__hamburger__btn input:checked ~ span {
  opacity: 1;
  transform: rotate(-45deg) translate(0px, 8px);
  background: var(--GREEN_200);
}

.nav__hamburger__btn input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.nav__hamburger__btn input:checked ~ span:nth-last-child(2) {
  transform: rotate(45deg) translate(0, -10px);
}

.modal--close,
.pop-up--close {
  display: none;
}

.modal--open,
.pop-up--open {
  background: rgba(109, 109, 109, 0.7);
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal--open section,
.pop-up section {
  padding: 6rem 6rem;
  background-color: var(--GRAY_100);

  border-radius: 2rem;

  width: 50%;
  min-width: 50rem;
  scale: 0.75;
  max-width: 69.5rem;

  position: relative;
}

.modal__btn__close,
.pop-up__btn__close {
  position: absolute;
  top: 1.6rem;
  right: 2.4rem;
}

.modal--open h1,
.pop-up--open h1 {
  text-align: center;
  font-weight: 600;
  font-size: 32px;
  margin-bottom: 2.4rem;
}

.modal--open .modal__content {
  display: flex;
  gap: 10rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 50%;
}

fieldset {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  border: none;
  gap: 0.4rem;
}

.modal__color--red {
  color: var(--RED_100);
}
.modal__color--green {
  color: var(--GREEN_100);
}
.modal__color--purple {
  color: var(--PURPLE);
}

.modal__content input,
textarea {
  border-radius: 0.5rem;
  border: none;
  padding: 0.5rem 1rem;
}

.modal__content fieldset:last-child input {
  height: 10rem;
  word-break: break-word;
}

.attachment {
  width: 50%;
  text-align: center;
  font-size: 16px;
  display: flex;
  flex-direction: column;
}

.attachment .input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.attachment input {
  position: relative;
  top: 9rem;
  height: 9rem;
  width: 9rem;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
}

.modal__btn {
  position: absolute;
  bottom: 1.6rem;
  right: 2.4rem;
}

.modal__btn__cancel,
.pop-up__btn__cancel {
  background-color: var(--RED_100);
  width: 9.4rem;
  color: white;
  padding: 0.2rem 2rem;
  border-radius: 5px;
  font-size: 1.6rem;
  margin-right: 1.6rem;
}

.modal__btn__save,
.pop-up__btn__save {
  width: 9.4rem;
  background-color: var(--GREEN_100);
  color: white;
  padding: 0.2rem 2rem;
  border-radius: 5px;
  font-size: 16px;
}

.pop-up__btn {
  display: flex;
  justify-content: center;
}

.pop-up h1 {
  margin-bottom: 4rem;
  color: var(--PURPLE);
}
.pop-up p {
  color: var(--PURPLE);
  text-align: center;
  font-size: 16px;
  margin-bottom: 6.8rem;
}

textarea {
  resize: none;
  border: none;
  border-radius: 5px;
  font-family: 'Inter', sans-serif;
}

@media (min-width: 898px) {
  body {
    display: flex;
    flex-direction: row;
    overflow: hidden;
  }

  .container {
    flex: 1;
    overflow-x: hidden;
  }

  header {
    min-height: 5rem;
    justify-content: flex-end;
  }

  header button {
    display: flex;
    margin-right: 1.7rem;
  }

  header img {
    display: none;
  }

  .menu__btn__hamburger {
    display: none;
  }

  main {
    flex: 1;
    padding: 0 6rem 0 8rem;
  }

  section .cards {
    flex-direction: column;
    gap: 2.4rem;
    width: 100%;
  }

  main section .cards article {
    width: 100%;
  }

  section article {
    flex: 1;
  }

  article.graph {
    padding: 1.6rem 2.4rem;
    min-height: 28rem;
  }

  .chart-container {
    display: flex;
    flex: 1;
    padding: 0 4.8rem;
  }

  .transactions article {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .transactions svg:nth-child(2) {
    display: inline;
    margin-left: 4.6rem;
    margin-right: 5.2rem;
  }

  .transactions .date-value {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30rem;
  }

  .info h3 {
    margin: 0;
  }

  footer {
    height: 5rem;
  }

  .aside--start {
    position: relative;
    max-width: 20rem;
    flex: 1;
    background-color: var(--GRAY_200);
    display: flex;
    flex-direction: column;
    box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.25);
    transform: translate(0%, 0);
  }

  .logo {
    margin-top: 1.7rem;
    position: absolute;
    z-index: 2;
    max-width: 50%;
    padding-left: 3.3rem;
    justify-content: left;
  }

  .logo img {
    height: 5.2rem;
  }

  aside button {
    width: 100%;
    cursor: pointer;
    background-color: transparent;
    border: solid 3px none;
    color: var(--GRAY_400);
    display: flex;
    padding: 8px;
    padding-left: 3.6rem;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
    border-left: 3px solid transparent;
    font-weight: 600;
    font-size: 14px;
  }

  aside a {
    color: var(--GRAY_400);
  }

  aside button:hover,
  .menu__nav_btn--active {
    border-left: 3px solid var(--GREEN_200);
    backdrop-filter: brightness(0.9);
  }

  aside button:hover svg,
  aside button:hover,
  aside a:hover,
  .menu__nav_btn--active,
  .menu__nav_btn--active svg,
  aside button:hover a,
  .menu__nav_a--active {
    color: var(--GREEN_200);
  }

  aside nav {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 0.8rem;
  }

  aside svg {
    color: var(--GRAY_400);
  }

  aside div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 1.7rem 1.5rem;
  }

  aside div svg {
    width: 2.4rem;
  }

  .nav__hamburger__btn {
    display: none;
  }

  .modal--open,
  .pop-up--open {
    scale: 1.25;
  }

}

@media (min-width: 1216px) {
  section .cards {
    margin-right: 0;
    flex-direction: row;
    gap: 10rem;
  }
}

@keyframes cardDropDown {
  0% {
    opacity: 0;
    position: relative;
    top: -10px;
  }

  100% {
    opacity: 1;
    position: relative;
    top: 0px;
  }
}
